body{
  margin:0;
  padding:0;
  font-family: Coffe;
  height: 10000px; /* SETTATO IN MODO CHE SE SI ZOOMMA FORTISSIMO NON SI SMONTA:... */
}


@font-face {
  src: url("../FONT/Coffee and Crafts.ttf");
  font-family:Coffe;

  font-weight: bold; /* Defaul usi questo, puoi mettere bold al posto (NON BOLD). */
  font-style: normal;
}
.gg{

  height: 100vh;
  /* background-image:repeating-linear-gradient(45deg, #ffd500, #d3ee82, #00728b,aquamarine,grey); */

}
#wrapper
{
  background-color: #2c2c2c;
  border-radius: 30px;
  border-style: dashed;
  height: 680px;
  border-width:5px;
  color:peachpuff;
  border-color: peachpuff;
}
#wrapper2
{
  background-color: #2c2c2c;
  border-radius: 30px;
  border-style: dashed;
  height: 680px;
  border-width:5px;
  color:peachpuff;
  border-color: peachpuff;
}
.bottone
{
  background-color: peachpuff ;
  color: #1c1c1c;
  border: 2px solid #1c1c1c;

}
.bottone:hover
{
  border-color: peachpuff;
  background-color: #1c1c1c;
  scale: 1.05;
  color:peachpuff;
  transition-duration: 250ms;
}


/* ANIMAZIONE SFONDO FIGOS */

body {
  background: wheat;
  height: 100vh;
}
.wrapper span {
  position: fixed;
  bottom: -180px;
  height: 50px;
  width: 50px;
  z-index: -1;
  border:2px solid;


  /* border: 3px solid #0192c0; */
  box-shadow: 0 0 50px #18191f;
  animation: animate 10s linear infinite;
}
.wrapper span:nth-child(1) {
  border-color:#859ba1;
  background-color: #d5e6f0;
  left: 60px;
  animation-delay: 0.6s;
}
.wrapper span:nth-child(11) {
  border-color:#859ba1;
  background-color: #d5e6f0;
  left: 65px;
  animation-delay: 0.6s;
}
.wrapper span:nth-child(23) {
  border-color:#4b6674;
  background-color: #859ba1;
  left: 7%;
  animation-delay: 7.5s;
  width: 80px;
  height: 80px;
}
.wrapper span:nth-child(24) {
  border-color:#4b6674;
  background-color: #859ba1;
  left: 7.3%;
  animation-delay: 7.5s;
  width: 80px;
  height: 80px;
}

.wrapper span:nth-child(2) {
  border-color:#4b6674;
  background-color: #859ba1;
  left: 10%;
  animation-delay: 3s;
  width: 60px;
  height: 60px;
}
.wrapper span:nth-child(12) {
  border-color:#4b6674;
  background-color: #859ba1;
  left: 10.3%;
  animation-delay: 3s;
  width: 60px;
  height: 60px;
}
.wrapper span:nth-child(3) {
  border-color:#859ba1;
  background-color: #d5e6f0;
  left: 20%;
  animation-delay: 2s;
}
.wrapper span:nth-child(13) {
  border-color:#859ba1;
  background-color: #d5e6f0;
  left: 20.3%;
  animation-delay: 2s;
}
.wrapper span:nth-child(4) {
  border-color:#4b6674;
  background-color: #859ba1;
  left: 30%;
  animation-delay: 5s;
  width: 80px;
  height: 80px;
}
.wrapper span:nth-child(14) {
  border-color:#4b6674;
  background-color: #859ba1;
  left: 30.3%;
  animation-delay: 5s;
  width: 80px;
  height: 80px;
}
.wrapper span:nth-child(5) {
  border-color:#859ba1;
  background-color: #d5e6f0;
  left: 40%;
  animation-delay: 1s;
}
.wrapper span:nth-child(15) {
  border-color:#859ba1;
  background-color: #d5e6f0;
  left: 40.3%;
  animation-delay: 1s;
}
.wrapper span:nth-child(6) {
  border-color:#859ba1;
  background-color: #d5e6f0;
  left: 50%;
  animation-delay: 7s;
}
.wrapper span:nth-child(16) {
  border-color:#859ba1;
  background-color: #d5e6f0;
  left: 50.3%;
  animation-delay: 7s;
}
.wrapper span:nth-child(7) {
  border-color:#4b6674;
  background-color: #859ba1;
  left: 60%;
  animation-delay: 6s;
  width: 100px;
  height: 100px;
}
.wrapper span:nth-child(17) {
  border-color:#4b6674;
  background-color: #859ba1;
  left: 60.3%;
  animation-delay: 6s;
  width: 100px;
  height: 100px;
}

.wrapper span:nth-child(21) {
  border-color:#859ba1;
  background-color: #d5e6f0;
  left: 85%;
  animation-delay: 9.5s;
  width: 100px;
  height: 100px;
}
.wrapper span:nth-child(22) {
  border-color:#859ba1;
  background-color: #d5e6f0;
  left: 85.3%;
  animation-delay: 9.5s;
  width: 100px;
  height: 100px;
}


.wrapper span:nth-child(8) {
  border-color:#4b6674;
  background-color: #859ba1;
  left: 70%;
  animation-delay: 8s;
}
.wrapper span:nth-child(18) {
  border-color:#4b6674;
  background-color: #859ba1;
  left: 70.3%;
  animation-delay: 8s;
}
.wrapper span:nth-child(9) {
  border-color:#859ba1;
  background-color: #d5e6f0;
  left: 80%;
  animation-delay: 6s;
  width: 90px;
  height: 90px;
}
.wrapper span:nth-child(19) {
  border-color:#859ba1;
  background-color: #d5e6f0;
  left: 80.3%;
  animation-delay: 6s;
  width: 90px;
  height: 90px;
}
.wrapper span:nth-child(10) {
  border-color: #4b6674;
  background-color: #859ba1;
  left: 90%;
  animation-delay: 4s;
}
.wrapper span:nth-child(20) {
  border-color:#4b6674;
  background-color: #859ba1;
  left: 90.3%;
  animation-delay: 4s;
}


@keyframes animate {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    opacity: .7;
  }
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}
